body{
    margin: 0;
    background-image: url('../images/terry-vlisidis-WsEbnsnKbUE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
.logo-row{
    text-align: center;
}
.logo{
    height: auto;
    width: 90px;
}
.topnav{
    float: inherit;
    text-align: center;
    border-radius: 70px;
    margin: 60px;
    margin-top: 0%;
    margin-bottom: 30px;
    border: 6px solid #EDEADE;
    background-color: black;
}
.topnav a{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px 16px;
    font-size: 20px;
}
.topnav a:hover{
    background-color: #EDEADE;
    color: black;
}
h1{
  color: white;
  text-align: center;
  font-size: 60px;
  font-style: oblique;
}
.container {
  margin-top: 30px;
  padding: 70px 0;
  font: 15px/20px Arial, sans-serif;
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}
.hello {
  opacity: 1 !important;
}
.full{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content img{
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
  margin-bottom: 80px;
}
.gallery img{
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover{
  box-shadow: 0 0 32px #333;
}
.gallery .gallery-item{
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover{
  transform: scale(1.025);
}
@media (max-width: 600px){
  .gallery{
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@-moz-keyframes zoomin{
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin{
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg)
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
footer {
  border-top: 6px solid red;
  border-bottom: 6px solid red; 
  background-color: white;
  color: red;
  padding: 20px 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}
.creators {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.creator-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.copyright {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
}
.social-media a {
  color: red;
  font-size: 1.5em;
  text-decoration: none;
}
.social-media a:hover {
  color: #bbb;
}
.Disclaimer{
  text-align: center;
}
